* {
    margin: 0 auto;
}

body {
    background: #FFF8DC;
    font-family: 'Arial', sans-serif;
    color: #000000;
}

.article {
    max-width: 680px;
    padding: 1.5rem;
}

.article__heading {
    margin-bottom: 1.5rem;
    color: #DB7093;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
    margin-bottom: 1rem;
}

.article__figure {
    margin-top: 1rem;
}

.figure__image {
    height: auto;
    margin-bottom: 0.5rem;
    max-width: 100%;
}

.figure__caption {
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}